.heading {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00b8d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    animation: slideDown 1s;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr th {
    text-align: left;
    font-weight: bold;
    color: #00b8d4;
}

table tbody tr td {
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
}

table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

table tbody tr:hover {
    background-color: #00b8d4;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .inventory-table td:nth-of-type(n+6),
    .inventory-table th:nth-of-type(n+6) {
        display: none;
    }
}

.instructions {
    font-size: 1.75em;
    color: #bdbdbd;
    text-align: center;
    padding: 20px;
    animation: slideUp 1s;
}

.selected-equipment {
    font-size: 1.75em;
    color: #00b8d4;
    text-align: center;
    padding: 10px;
}

.continue-button {
    background-color: #00b8d4;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    animation: slideUp 1s;
    display: block;
    margin: 0 auto;
    /* text-decoration: none; */
    border-bottom: 0;
    outline: 0;
}

.continue-button:hover {
    background-color: #0091c2;
    text-decoration: none;
}



@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}